Flask
Flask-SQLAlchemy
Flask-Migrate
Flask-Login
Flask-SocketIO
mysqlclient
redis
gevent
Werkzeug
apscheduler
gunicorn
gevent-websocket
uuid
python-dotenv
flask-restx
flask-cors
mysql-connector-python
gunicorn
qrcode
Pillow
requests